body {
  background-color: #fff;
}
ul {
  margin: 0;
  padding: 0;
}
#top .header {
  width: 100%;
  padding: 20px 0 10px;
  background: url("../img/shouqianba/bg@2x.png?v=749f60d9bacc0deeb0a436595c3d12ff") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
#top .header .my-avatar {
  margin: 0 auto 10px auto;
  width: 89px;
  height: 89px;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#top .header .my-avatar img {
  width: 100%;
}
#top .header .my-points {
  text-align: center;
  font-size: 14px;
  color: #000;
}
#top .header .my-top {
  margin: 10px auto 0;
  text-align: center;
  font-size: 14px;
  color: #000;
}
#top .header .my-top .high-light {
  display: inline-block;
  margin: 0 5px;
  font-size: 22px;
  color: #ec495c;
}
#top #tab .tab {
  list-style: none;
}
#top #tab .tab-item {
  display: inline-block;
  width: 50%;
  line-height: 40px;
  text-align: center;
  background-color: #e5e5e5;
}
#top #tab .tab-item.active {
  background-color: #fff;
}
#top #tab .tab-content {
  display: none;
  padding: 10px 15px;
}
#top #tab .tab-content.active {
  display: block;
}
#top #tab .tab-content .ranking-not-found {
  height: 71px;
}
#top #tab .tab-content .ranking-not-found .ranking-not-found-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 71px;
}
#top #tab .tab-content .top-list {
  list-style: none;
}
#top #tab .tab-content .top-list-item {
  padding: 4px 0;
  border-bottom: 1px solid #dcdcdc;
}
#top #tab .tab-content .top-list-item:last-child {
  border: none;
}
#top #tab .tab-content .top-list-item:after {
  border-bottom: none;
}
#top #tab .tab-content .top-list-item:nth-child(1) .avatar-container:after,
#top #tab .tab-content .top-list-item:nth-child(2) .avatar-container:after,
#top #tab .tab-content .top-list-item:nth-child(3) .avatar-container:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -4px;
  width: 26px;
  height: 21px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
#top #tab .tab-content .top-list-item:nth-child(1) .point .point-number,
#top #tab .tab-content .top-list-item:nth-child(2) .point .point-number,
#top #tab .tab-content .top-list-item:nth-child(3) .point .point-number {
  font-size: 30px;
  color: #ec495c;
}
#top #tab .tab-content .top-list-item:nth-child(1) .avatar-container:after {
  background-image: url("../img/shouqianba/list-first@2x.png?v=2ead52c9c99bebc0a605ddc82963133f");
}
#top #tab .tab-content .top-list-item:nth-child(2) .avatar-container:after {
  background-image: url("../img/shouqianba/list-second@2x.png?v=674616e34b5411478e70bf27d1b07fd4");
}
#top #tab .tab-content .top-list-item:nth-child(3) .avatar-container:after {
  background-image: url("../img/shouqianba/list-third@2x.png?v=2969160036a4b0e0d7f46757eda7db04");
}
#top #tab .tab-content .top-list-item .avatar,
#top #tab .tab-content .top-list-item .user-info,
#top #tab .tab-content .top-list-item .point {
  display: inline-block;
}
#top #tab .tab-content .top-list-item .avatar {
  width: 20%;
  vertical-align: middle;
}
#top #tab .tab-content .top-list-item .avatar .avatar-container {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  vertical-align: middle;
}
#top #tab .tab-content .top-list-item .avatar .avatar-container img {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
}
#top #tab .tab-content .top-list-item .user-info {
  width: 42%;
  font-size: 15px;
  color: #000;
  vertical-align: middle;
}
#top #tab .tab-content .top-list-item .user-info .name {
  margin: 0 0 2px;
  word-break: keep-all;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
#top #tab .tab-content .top-list-item .user-info .location {
  margin: 2px 0 0;
  color: #959595;
  font-size: 0.9em;
  white-space: nowrap;
}
#top #tab .tab-content .top-list-item .user-info .location .icon-location {
  position: relative;
  top: 2px;
  margin-right: 5px;
  display: inline-block;
  width: 13px;
  height: 15px;
  background: url("../img/shouqianba/icon-location@2x.png?v=c0b2da7622bd11bb1793b2eeba8fe860");
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
#top #tab .tab-content .top-list-item .point {
  width: 38%;
  padding-top: 14px;
  text-align: right;
  vertical-align: middle;
}
#top #tab .tab-content .top-list-item .point .point-number {
  font-size: 25px;
  color: #0c90ff;
}
#top #tab .tab-content .top-list-item .point .point-label {
  font-size: 14px;
  color: #000;
}
/*# sourceMappingURL=shouqianba-top.css.map */