@import 'nib';

.activity-scratchcard-banner {
	display: block;
	width: 100%;
}

.activity-scratchcard-nav {
	border-bottom: 3px solid #ffd909;
	text-align: center;
	background-color: #771617;
}

.activity-scratchcard-nav-tab {
	display: inline-block;
	background-color: #ff4444;
	border-radius: 8px 8px 0 0;
	color: #fff;
	padding: 3px 10px;
	text-decoration: none;
}

.activity-scratchcard-nav-tab.active {
	background-color: #ffd909;
	color: #b92601;
}

.activity-scratchcard-main {
	background-color: #ab2424;
	padding: 20px 0;
}

.activity-scratchcard-history {
	background-color: #fff;
}

.activity-scratchcard-container {
	margin: 0 auto 20px;
	width: 294px;
	border: 3px solid #fed808;
	border-radius: 5px;
}

.activity-scratchcard-card {
	background-color: #bc7879;
}

.activity-scratchcard-win, .activity-scratchcard-loose, .activity-scratchcard-gameover, .activity-scratchcard-subscribe {
	padding: 10px;
	background-color: #feffdd;
	text-align: center;
}

.activity-scratchcard-result-title {
	color: #d7785a;
	font-size: 1.5em;
	line-height: 2em;
}

.activity-scratchcard-btn-rest {
	padding: 3px 6px;
	border: 2px solid #e4422b;
	background-color: #fff;
	border-radius: 3px;
	color: #e4422b;
}

.activity-scratchcard-btn-again {
	padding: 3px 6px;
	border: 2px solid #e4422b;
	background-color: #e4422b;
	border-radius: 3px;
	color: #e9aa98;
}

.activity-scratchcard-remaining {
	color: #fff;
	padding: 3px 5px;
}

.activity-scratchcard-scratch-area {
	text-align: center;
	margin: 20px auto 30px;
	font-size: 115%;
	width: 170px;
	height: 50px;
	line-height: 50px;
}

.activity-scratchcard-scratch-area canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.activity-scratchcard-view-history {
	text-align: right;
	padding-right: 1em;
}

.activity-scratchcard-view-history-link, .activity-scratchcard-view-history-link:hover, .activity-scratchcard-view-history-link:focus {
	color: #f8dd9e;
}

.activity-scratchcard-box {
	background-color: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 8px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.activity-scratchcard-head {
	font-weight: bold;
	line-height: 2;
	margin-top: 8px;
}

.activity-scratchcard-desc {
	white-space: pre-wrap;
}

.activity-scratchcard-store {
	display: block;
	text-decoration: none;
	color: #3e3e3e;
	padding: 8px 0 6px;
	border-bottom: 1px dashed #bbb;
}

.activity-scratchcard-store:first-child {
	padding-top: 0;
}

.activity-scratchcard-store:last-child {
	border-bottom: 0;
}

.activity-scratchcard-stores {
	overflow: hidden;
}

.activity-scratchcard-store-name {
	font-weight: bold;
}

.activity-scratchcard-stores-toggle {
	border-top: 1px #fff solid;
	box-shadow: 0 -1px #cfcfcf;
	padding: 4px 10px;
	text-align: center;
}
