@import 'nib';

.activity-wheel-animate {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.activity-wheel-animate-infinite {
	animation-iteration-count: infinite;
}

@keyframes activity-wheel-tada {
	0% {
		transform: scale(1);
	}

	10%, 20% {
		transform: scale(.9) rotate(-3deg);
	}

	30%, 50%, 70%, 90% {
		transform: scale(1.1) rotate(3deg);
	}

	40%, 60%, 80% {
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		transform: scale(1) rotate(0);
	}
}

.activity-wheel-tada {
	animation-name: activity-wheel-tada;
}

@keyframes activity-wheel-pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.activity-wheel-pulse {
	animation-name: activity-wheel-pulse;
}

.activity-wheel {
	background-color: #7f2789;
}


.activity-wheel-logo {
	width: 320px;
	height: 154px;
	background: url(../img/activity-wheel/logo.png) no-repeat;
	background-size: 320px 154px;
	margin: 0 auto;
}

.activity-wheel-wrap {
	position: relative;
	width: 280px;
	margin: 10px auto 0;
}

.activity-wheel-btn-area {
	position: absolute;
	top: 72px;
	left: 70px;
	width: 139px;
	height: 145px;
	background: url(../img/activity-wheel/button.png);
	background-size: 139px 145px;
	z-index: 1;
}

.activity-wheel-btn {
	position: absolute;
	top: 25px;
	left: 20px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-radius: 40px;
}

.activity-wheel-row::before, .activity-wheel-row::after {
	display: table;
	content: "";
	line-height: 0;
}

.activity-wheel-row::after {
	clear: both;
}

.activity-wheel-block:last-child {
	float: right;
}

.activity-wheel-block {
	float: left;
	position: relative;
	width: 69px;
	margin: 0 1px 1px 0;
	height: 71px;
	background-color: #cb1573;
	box-sizing: border-box;
	z-index: 2;
}

.activity-wheel-block.even {
	background-color: #d84190;
}

.activity-wheel-block::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
	background: rgba(0, 0, 0, 0.2);
}

.activity-wheel-block-active {
	background-color: #ffffb5 !important;
}

.activity-wheel-block-active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #ff0;
	opacity: .3;
}

.activity-wheel-icon {
	position: absolute;
	left: 18px;
	top: 16px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px;
}

.activity-wheel-icon-custom {
	left: 12px;
	top: 10px;
	width: 48px;
	height: 48px;
	background-size: 48px;
}

.activity-wheel-icon-smile {
	background-image: url(../img/activity-wheel/face-smile.png);
}

.activity-wheel-icon-upset {
	background-image: url(../img/activity-wheel/face-upset.png);
}

.activity-wheel-icon-prize0 {
	background-image: url(../img/activity-wheel/prize0.png);
}

.activity-wheel-icon-prize1 {
	background-image: url(../img/activity-wheel/prize1.png);
}

.activity-wheel-icon-prize2 {
	background-image: url(../img/activity-wheel/prize2.png);
}

.activity-wheel-icon-prize3 {
	background-image: url(../img/activity-wheel/prize3.png);
}

.activity-wheel-icon-point, .activity-wheel-icon-coupon {
	left: 12px;
	top: 14px;
	width: 48px;
	height: 48px;
	background-size: 48px;
}

.activity-wheel-icon-point {
	background-image: url(../img/activity-wheel/point.png);
}

.activity-wheel-icon-coupon {
	top: 9px;
	background-image: url(../img/activity-wheel/coupon.png);
}

.activity-wheel-remaining {
	text-align: center;
	color: #e56176;
}

.activity-wheel-remaining-count {
	color: #fff;
}

.activity-wheel-view-history {
	text-align: center;
}

.activity-wheel-view-history-link, .activity-wheel-view-history-link:hover {
	display: inline-block;
	background-color: #ff278a;
	color: #fff;
	padding: 5px 10px;
	border-radius: 10px;
	text-decoration: none;
}

.activity-wheel-info-area {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 275px;
	margin: 0 auto;
}

.activity-wheel-info {
	color: #e2bfe0;
	font-size: 14px;
	margin-top: 5px;
}

.activity-wheel-head {
	font-weight: bold;
	line-height: 2;
	margin-top: 8px;
}

.activity-wheel-desc {
	white-space: pre-wrap;
}

.activity-wheel-store {
	display: block;
	text-decoration: none;
	padding: 8px 0 6px;
	border-bottom: 1px dashed #bbb;
}

.activity-wheel-store:first-child {
	padding-top: 0;
}

.activity-wheel-store:last-child {
	border-bottom: 0;
}

.activity-wheel-stores {
	overflow: hidden;
}

.activity-wheel-store-name {
	font-weight: bold;
}

.activity-wheel-stores-toggle {
	padding: 4px 10px;
	text-align: center;
}


@media
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

	.activity-wheel-icon-smile {
		background-image:url(../img/activity-wheel/face-smile@2x.png);
	}

	.activity-wheel-icon-upset {
		background-image: url(../img/activity-wheel/face-upset@2x.png);
	}

	.activity-wheel-btn-area {
		background-image:url(../img/activity-wheel/button@2x.png);
	}

	.activity-wheel-logo {
		background-image:url(../img/activity-wheel/logo@2x.png);
	}
}