@import 'nib';

.my-cards-card {
  position: relative;
  overflow: hidden;
}

.card-body-wrap.expanded{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow : none;


}
.card-body-wrap{
  margin: 14px;
  position: relative;
  margin-bottom: 0;
  height: 70px;
  background-color: white;//for test
  background-repeat : no-repeat;
  background-size : cover;
  border-radius : 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: .3s;
}

//iPhone 6 plus
@media (min-width: 400px) {
  div.card-body-wrap.expanded{
    height: 209px;
    transition: .3s;
  }
}
//iPhone 6
@media (min-width: 321px) and (max-width: 400px) {
  div.card-body-wrap.expanded{
    height: 190px;
    transition: .3s;
  }
}
//iPhone 5s 及以下
@media (max-width: 320px) {
  div.card-body-wrap.expanded{
    height: 157px;
    transition: .3s;
  }
}

.tab{
  width: 100%;
}
.tab-splitter{
  height: 35px;
  margin-left: -1px;
  margin-top: 5px;
  width: 1px;
  float: left;
  background-color: #b0b0b0;
}
.tab-filter{
    float :left ;
    //display: inline-block;
    text-align : center;
    color : black;
    background: #eeeeee;
    width : 50%;
    height: 45px;
    padding-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid #b0b0b0;
}

.tab-focus{
    border-bottom: rgb(243,152,0);
    border-bottom-style: inset;
}

.block {
  z-index: -1;
}
.card2-header {
  //font-weight: bold;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  text-shadow: #858585 1px 1px 0px;
}

.card2-header-right {
  float: right;
}

.card2-body {
  //padding: 16px 12px;
  font-size: 16px;
  //position: absolute;
  //bottom: 34px;
}

.card-body-footer-wrap{
  width: 100%;
  margin-left: 15px;
  height: 70px;
  position: absolute;
  bottom: -6px;
  transition 0;
}
.stamp-card-text{
  color: rgb(35,95,100);
}

.balance-card-text{
  color: rgb(128,88,35);
}

.card2-footer {
  position: absolute;
  bottom: 13px;
  width: 100%;
  border-radius: 0 0 12px 12px;
  //padding: 6px 12px;
  color: #fff;
  text-shadow: #858585 1px 1px 0px;
  font-size: 13px;
}

.card2-corner-mark {
  width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  transform: rotate(45deg) translateX(50px) translateY(-20px);
}

.card-list {
  margin: 0;
  padding: 5px;
  clear: both;
}

a.card {
  display: block;
}


.card .card-condition {
  font-size: 24px;
  letter-spacing: 0.1em;
}

.card .card-condition small {
  color: #e6e6e6;
}

.card-qrcode-img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  //-webkit-box-shadow: 1px 2px 5px 0 rgba(102, 102, 102, 0.6);
  //-moz-box-shadow: 1px 2px 5px 0 rgba(102, 102, 102, 0.6);
  //box-shadow: 1px 2px 5px 0 rgba(102, 102, 102, 0.6);
  opacity: 0.9;
}

.my-balance-card {
  background-image: url(../img/card/balance-card@2x.png);
}
.my-discount-card {
  background-image : url(../img/card/discount-card@2x.png);
}
.card-stamp {
  background-image : url(../img/card/stamp-card@2x.png);
}
.card-period {
  background-image : url(../img/card/period-card@2x.png);
}
.stamp-card-inactive {
  background-image : url(../img/card/stamp-card-invalid@2x.png);
}
.period-card-inactive {
  background-image : url(../img/card/period-card-invalid@2x.png);
}
.my-discount-card-expired {
  background-image : url(../img/card/disount-card-invalid@2x.png);
}
.my-balance-card-expired {
  background-image : url(../img/card/balance-card-invalid@2x.png);
}

.bottom-shadow {
  position: absolute;
  height: 1px;
  left: 0;
  bottom: -1px;
  width: 100%;
  box-shadow:  0 -2px 6px #696464;
  -webkit-box-shadow:  0 -2px 6px #696464;

}

.my-balance-account {
  padding: 30px 24px 25px;
  display: block;
  background: #fff url(../img/my-balance/no-expires@2x.png) no-repeat right 30px top 23px / 57px 37px;
  margin-bottom: 15px;
}

.my-balance-account-header {
  color: #b4b4b4;
}

.my-balance-account-balance {
  font-size: 60px;
  color: #fdb731;
}

.my-balance-account-balance-fraction {
  font-size: 28px;
}

.my-balance-card-balance {
  font-size: 21px;
}



.my-cards-card-usage {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.133);
}

.my-cards-card-slash {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.133);
}

.my-cards-card-total {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.133);
}

.modal-pop-dist{
  position: absolute;
  width: 70px;
  height: 70px;
  right: 14px;
  top: 14px;
  z-index: 2;
}